<p style="color: green"><%= notice %></p>

<%= render @product %>

<div class="row">
  <div class="col-lg-12">
    <h1>Details Product</h1>

    <div class="d-flex mb-4">
      <%= link_to "Back to products", products_path, class: "btn btn-primary mr-2" %>
      <%= link_to "Edit this product", edit_product_path(@product), class: "btn btn-primary mr-2" %>
      <%= button_to "Destroy this product", @product, method: :delete, class: "btn btn-danger mr-2" %>
      <%= link_to "Create Movement", new_movement_product_path(@product), class: "btn btn-success mr-2" %>
      <%= link_to "Export excel", product_path(@product, format: :xlsx), class: "btn btn-danger" %>
    </div>

    <div class="card">
      <table class="table">
        <tr>
          <td><b>Name of product:</b></td>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <td><b>Reference:</b></td>
          <td><%= @product.reference %></td>
        </tr>
        <tr>
          <td><b>Desciption:</b></td>
          <td><%= @product.description %></td>
        </tr>
        <tr>
          <td><b>Amount:</b></td>
          <td><%= @product.quantity %></td>
        </tr>
        <tr>
          <td><b>Created at:</b></td>
          <td><%= @product.created_at.strftime("%F") %></td>
        </tr>
      </table>
    </div>

  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-12">
    <div class="card">
      <h1>Movements</h1>
      <table class="table">
        <thead>
        <tr>
          <th>Type</th>
          <th>Amount</th>
          <th>Comment</th>
          <th>Date/Time</th>
        </tr>
        </thead>
        <tbody>
          <% @product.movements.each do |movement| %>
            <tr>
              <td><%= movement.type_name %></td>
              <td><%= movement.quantity %></td>
              <td><%= movement.comment %></td>
              <td><%= movement.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>